* {
  box-sizing: border-box;
}
.section {
  clear: both;
}

.reference.internal em {
  font-style: normal;
}

.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
div[class^='highlight'] {
  border: none;
  border-left: 1px solid #f1f1f1;
}

code,
.rst-content tt {
  border: none;
}

hr {
  border-top: 1px solid #f1f1f1;
}

.wy-breadcrumbs,
.wy-breadcrumbs + hr,
.wy-breadcrumbs li.wy-breadcrumbs-aside {
  display: none;
}

.wy-nav-top i {
  padding: 10px 0;
}

footer {
  font-size: 70%;
  text-align: center;
}
footer .rst-footer-buttons {
  text-align: left;
}

.admonition p {
  font-size: 90%;
  line-height: 1.5em;
}
.admonition .admonition-title {
  background: none !important;
  color: #9E9D9D !important;
  text-transform: uppercase;
  padding: 10px;
  font-size: 70%;
}
.admonition .admonition-title:before {
  content: normal;
}

@media (min-width: 1100px) {
  .admonition.inline {
    float: right;
    margin-right: -50px;
    margin-left: 20px;
    width: 40%;
  }
}

.react-grid-Grid {
  border: 1px solid #ccc;
  font-size: 90%;
  margin-bottom: 35px;
}

.react-grid-Header {
  border-bottom: 1px solid #ccc;
  background: #eee;
  font-weight: bold;
}

.react-grid-Canvas {
  background: #fff;
}

.react-grid-Cell,
.react-grid-HeaderCell {
  padding: 7px;
}

.react-grid-Row {
  border-bottom: 1px solid #eee;
}
.react-grid-Row:last-child {
  border-bottom: none;
}
.react-grid-Row:hover {
  background: #eee;
}

.react-grid-HeaderCell {
  border-right: 1px solid #ccc;
}

.react-grid-HeaderCell__resizeHandle:hover {
  cursor: ew-resize;
  background: #ddd;
}

.react-grid-HeaderCell--resizing .react-grid-HeaderCell__resizeHandle {
  background: #ddd;
}

